body{
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }

  /* header of the page */
  .header {
    padding: 40px;
    text-align: center;
    background: #1ba7d1;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header h1{
    font-size: 60px;
    margin: 15px;
  }

  /*body of the page*/
  .tab{
      float: left;
      /*border: 1px solid rgb(0, 0, 0);*/
      width: 10%;
      height: 711px;
      background-color: black;
  }

  .tab button {
      display: block;
      background: inherit;
      color: white;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      overflow:hidden;
  }

  .tab button:hover{
      background-color: #787878;
  }

  .tab button:active {
      background-color: #1ba7d1;
  }

  .tabcontent{
      float: left;
      padding: 0px 12px;
      width:75%;
      border-left: none;
      height: 711px;
  }

  /* footer */
  .bottom {
    text-align: center;
    background: #8f8e8d;
    color: white;
    padding: 5px;
  }

  /* other */
  .from-right{
      position:relative;
      animation: animateright 0.4s
    }

    @keyframes animateright{
        from{
            right:-300px;
            opacity:0
        } to{
            right: 0;
            opacity:1
        }
    }

    .myblue,
    .myblue:hover{
      color:#000!important;
      background-color:#1ba7d1!important
    }